.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.WomenDiv {
  margin-top: 5%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  height: 600px;
  margin: 50px;
  text-align: center;
  font-family: arial;
  flex: 50%;
}
img {
  max-width: 80%;
  max-height: 80%;
}

.image {
  height: 500px;
  width: 400px;
}
.price {
  color: grey;
  font-size: 22px;
}
.card img {
  width: 100%;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.alert {
  margin-top: 20%;
  padding: 1rem;
  border: 0.1 rem solid transparent;
  border: 0.5rem;
  color: black;
}
